<%= render :partial => "titulo" %>

<% form_for(@comentario) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :conteudo %><br />
    <%= f.text_area :conteudo %>
  </p>
  <p>
    <%= f.label :comentavel_id %><br />
    <%= f.text_field :comentavel_id %>
  </p>
  <p>
    <%= f.label :comentavel_type %><br />
    <%= f.text_field :comentavel_type %>
  </p>
  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

<%= link_to 'Exibir', @comentario, :class => "show", :title => "Exibir detalhes" %> |
<%= link_to 'Voltar', comentarios_path %>
